.gradient-custom {
  /* fallback for old browsers */
  background: #1e1b21;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(45deg, rgb(133, 255, 189) 0%, rgb(255, 251, 125) 100%);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(45deg, rgb(133, 255, 189) 0%, rgb(255, 251, 125) 100%)
  }